<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="crm pro test Suite">
	<listeners>
		<listener class-name="com.crmpro.qa.extentreport.ExtentReporterNG" />
	</listeners>


	<test thread-count="5"  name="CRMProTest">
		<classes>
			<class name="com.crmpro.qa.testcases.TestLoginPage" />
			<class name="com.crmpro.qa.testcases.HomePageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
